<nav class="container">
  <svg class="clouds" width="3112" height="215" viewBox="0 0 3112 215" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M3111 0H0.99996V124H2.08663C0.0978601 134.01 0.316366 144.619 3.13631 155.143C12.9636 191.819 50.6617 213.584 87.3374 203.757C99.5105 200.495 110.041 194.163 118.319 185.817C135.12 202.694 160.235 210.362 184.888 203.757C198.705 200.055 210.405 192.397 219.097 182.329C236.198 207.396 267.851 220.178 298.822 211.88C314.851 207.584 328.215 198.308 337.694 186.162C345.629 188.618 354.061 189.941 362.803 189.941C383.41 189.941 402.301 182.591 416.996 170.369C432.522 190.126 456.635 202.815 483.711 202.815C505.701 202.815 525.737 194.445 540.806 180.717C551.226 186.59 563.257 189.941 576.071 189.941C603.365 189.941 627.109 174.738 639.296 152.339C658.153 168.628 682.725 178.48 709.598 178.48C735.744 178.48 759.712 169.154 778.357 153.647C798.057 178.715 828.651 194.816 863.006 194.816C890.908 194.816 916.329 184.196 935.448 166.777C948.669 174.229 963.934 178.48 980.193 178.48C1006.85 178.48 1030.84 167.049 1047.53 148.821C1057.32 160.027 1071.13 167.636 1086.71 169.406C1101.33 197.215 1133.71 212.23 1165.34 203.757C1177.51 200.495 1188.04 194.163 1196.32 185.817C1213.12 202.694 1238.24 210.362 1262.89 203.757C1276.7 200.055 1288.4 192.397 1297.1 182.329C1314.2 207.396 1345.85 220.178 1376.82 211.88C1402.88 204.896 1421.9 184.742 1428.63 160.497C1429.82 160.566 1431.02 160.601 1432.23 160.601C1447.13 160.601 1460.78 155.288 1471.41 146.454C1472.57 147.94 1473.81 149.372 1475.11 150.744C1475.4 152.21 1475.74 153.678 1476.14 155.143C1485.96 191.819 1523.66 213.584 1560.34 203.757C1572.51 200.495 1583.04 194.163 1591.32 185.817C1608.12 202.694 1633.24 210.362 1657.89 203.757C1671.7 200.055 1683.4 192.397 1692.1 182.329C1709.2 207.396 1740.85 220.178 1771.82 211.88C1787.85 207.584 1801.21 198.308 1810.69 186.162C1818.63 188.618 1827.06 189.941 1835.8 189.941C1856.41 189.941 1875.3 182.591 1890 170.369C1905.52 190.126 1929.63 202.815 1956.71 202.815C1978.7 202.815 1998.74 194.445 2013.81 180.717C2024.23 186.59 2036.26 189.941 2049.07 189.941C2076.37 189.941 2100.11 174.738 2112.3 152.339C2131.15 168.628 2155.72 178.48 2182.6 178.48C2208.74 178.48 2232.71 169.154 2251.36 153.647C2271.06 178.715 2301.65 194.816 2336.01 194.816C2363.91 194.816 2389.33 184.196 2408.45 166.777C2421.67 174.229 2436.93 178.48 2453.19 178.48C2479.85 178.48 2503.84 167.049 2520.53 148.821C2530.32 160.027 2544.13 167.636 2559.71 169.406C2574.33 197.215 2606.71 212.23 2638.34 203.757C2650.51 200.495 2661.04 194.163 2669.32 185.817C2686.12 202.694 2711.23 210.362 2735.89 203.757C2749.7 200.055 2761.41 192.397 2770.1 182.329C2787.2 207.396 2818.85 220.178 2849.82 211.88C2875.88 204.896 2894.9 184.742 2901.63 160.497C2902.82 160.566 2904.02 160.601 2905.23 160.601C2920.13 160.601 2933.78 155.288 2944.41 146.454C2955.63 160.735 2973.06 169.908 2992.63 169.908C3008.53 169.908 3023.01 163.857 3033.9 153.934C3041.44 158.179 3050.13 160.601 3059.4 160.601C3082.75 160.601 3102.51 145.201 3109.07 124H3111V115.018C3111.26 112.917 3111.39 110.777 3111.39 108.606C3111.39 106.435 3111.26 104.295 3111 102.194V0Z" fill="white"/>
  </svg>

  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag("onyrix-logo.png", :alt => "Onirix logo") %>
  <% end %>

  <ul>
    <% if user_signed_in? %>
      <%= link_to destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} do%>
        <li>
          Log Out
        </li>
      <% end %>
    <% else %>
      <%= link_to new_user_session_path, id: "login-link" do %>
        <li>
          Login
        </li>
      <% end %>
    <% end %>
  </ul>
</nav>
