<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "https://www.onirix.com/wp-content/themes/onirix-sixteen-child/images/logo-horizontal.svg" %>
    <% end %>

    <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <%= link_to "Messages", "#", class: "nav-link" %>
        </li>
    </ul>

  </div>
</div>
