<!-- -----------------------Header----------------------- -->
<div class="about-header">
  <%= image_tag("about-us-header.jpg", :alt => "About us header image") %>
  <div class="content">
    <p>About us</p>
    <h1>We accelerate sustainable and inclusive growth</h1>
  </div>
</div>

<main class="about-us-main">
  <!-- -----------------------Who we are----------------------- -->
  <section class="who-we-are">
    <%= image_tag("who-we-are.png", :alt => "Who we are image") %>
    <div class="content">
      <h3>Who we are</h3>
      <p>Our firm is designed to operate as one—a single global partnership united by a strong set of values. We are equally committed to both sides of our mission: attracting and developing a talented and diverse group of colleagues and helping our clients create meaningful and lasting change.</p>
    </div>
  </section>

  <!-- -----------------------Features----------------------- -->
  <article class="features container pt-5 mb-3">
    <div class="feature">
      <h3>Dream Directory</h3>
      <p>A searchable dream dictionary that allows users to look up common dream symbols and their potential meanings.</p>
    </div>
    <div class="feature">
      <h3>Dream Journal</h3>
      <p>A feature that allows users to keep a record of their dreams over time, and track patterns or recurring symbols in their dreams.</p>
    </div>
    <div class="feature">
      <h3>Interpretations</h3>
      <p>A service that offers personalized dream interpretations from professional dream analysts or psychologists.</p>
    </div>
  </article>

    <!-- -----------------------Who we are----------------------- -->
  <section class="commitments">
    <%= image_tag("commitment.jpg", :alt => "Commitment") %>
    <div class="content">
      <h3>Our commitments</h3>
      <p>We are dedicated to managing our firm and working with our clients in ways that benefit individuals, communities, and the environments they live in.</p>
    </div>
  </section>

    <!-- -----------------------Features----------------------- -->
  <h2 class="mt-5 achievement-title">Achievements</h2>
  <article class="features container pt-5 achievements mb-0">
    <div class="feature achievement">
      <h3>Dream Directory</h3>
      <p>A searchable dream dictionary that allows users to look up common dream symbols and their potential meanings.</p>
    </div>
    <div class="feature achievement">
      <h3>Dream Journal</h3>
      <p>A feature that allows users to keep a record of their dreams over time, and track patterns or recurring symbols in their dreams.</p>
    </div>
    <div class="feature achievement">
      <h3>Interpretations</h3>
      <p>A service that offers personalized dream interpretations from professional dream analysts or psychologists.</p>
    </div>
  </article>
</main>
