<!-- -----------------------Header----------------------- -->
<div class="about-us-background"></div>
<div class="about-header">
  <div class="content">
    <p>About us</p>
    <h1>We are the premier organization dedicated to the study and exploration of dreams.</h1>
  </div>
</div>

<main class="about-us-main">
  <!-- -----------------------Who we are----------------------- -->
  <section class="who-we-are">
    <%= image_tag("who-we-are.png", :alt => "Who we are image") %>
    <div class="content">
      <h3>Who we are</h3>
      <p>Our team of experts is passionate about unlocking the mysteries of the human subconscious and helping individuals harness the power of their dreams for personal growth and well-being. At the Institut International des Rêves, we offer a range of services, including dream analysis, interpretation, and coaching, as well as workshops, seminars, and retreats designed to help you connect with your dreams and use them to achieve your goals.</p>
    </div>
  </section>

  <!-- -----------------------Features----------------------- -->
  <article class="features container pt-5 mb-3">
    <div class="feature">
      <h3>Analysis</h3>
      <p>Our dream analysis service provides clients with personalized insights into the symbols and meanings behind their dreams.</p>
    </div>
    <div class="feature">
      <h3>Coaching</h3>
      <p>Our dream coaching service is designed to help individuals harness the power of their dreams to achieve their goals.</p>
    </div>
    <div class="feature">
      <h3>Workshops</h3>
      <p>Our dream workshops are interactive and experiential, providing participants with a deep understanding of the science of dreaming and the tools to apply this knowledge to their daily lives.</p>
    </div>
  </article>

    <!-- -----------------------Who we are----------------------- -->
  <section class="commitments">
    <%= image_tag("commitment.jpg", :alt => "Commitment") %>
    <div class="content">
      <h3>Our commitments</h3>
      <p>At the Institut International des Rêves, we are committed to helping our clients unlock the transformative power of their dreams. We believe that by exploring and interpreting our dreams, we can gain a deeper understanding of ourselves and the world around us, and use this knowledge to create positive change in our lives. <br>

We are dedicated to providing our clients with the highest level of care and support, and to staying at the forefront of dream science research and innovation. We are also committed to ethical and responsible practices in all aspects of our work, and to maintaining a safe, inclusive, and welcoming environment for all who seek our services.</p>
    </div>
  </section>

    <!-- -----------------------Features----------------------- -->
  <h2 class="mt-5 achievement-title">Achievements</h2>
  <article class="features container pt-5 achievements mb-0">
    <div class="feature achievement">
      <h3>Published Research</h3>
      <p>The Institut International des Rêves has published numerous peer-reviewed articles in leading scientific journals, contributing to the growing body of knowledge in the field of dream science.</p>
    </div>
    <div class="feature achievement">
      <h3>Successful Programs</h3>
      <p>We have helped clients overcome creative blocks, improve their relationships, find direction in their careers, and more.</p>
    </div>
    <div class="feature achievement">
      <h3>Positive Client Feedback</h3>
      <p>We are proud to have received consistently positive feedback from our clients, who report feeling empowered, inspired, and supported by our services. </p>
    </div>
  </article>
</main>
