nav {
  margin: 40px auto 140px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & .navbar-brand img {
    height: 100px;
  }

  & ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  & ul a {
    color: $primary-color;
    text-decoration: none;
    font-size: 16px;
  }

  & ul li {
    list-style: none;
    padding: 0px 10px;
    background-color: #ffdd0000;
    border-radius: 8px;
  }
}

@media (max-width: 768px) {
  nav {
    margin: 2rem auto;
    margin-bottom: 40px;

    & .navbar-brand img {
      height: 60px;
    }

    & ul {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    & ul li {
      margin-bottom: 16px;
    }
  }
}

.clouds {
  position: absolute;
  left: -15%;
  z-index: -1;
}

.navbar-links {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}
